body {
	font-family: "Ubuntu", sans-serif;
	background: url("../img/warty-final-ubuntu.jpg") no-repeat center;
	background-attachment: fixed;
    background-size: cover;
}

@import "header";

#root {
	padding: 40px 0px 20px 0px;
	width: 100%;
	min-height: calc(100vh - 75px);
}

@import "cards";
