.cards {
	.card {
		min-width: 200px;
		height: 210px;
		color: #FFFFFF;
		border-radius: 4px;
	}
	.card-header {
		padding: 10px;
	}
	
	.card-body svg {
		width: 100%;
	}
	
	hr {
		border-top-color: rgba(100, 100, 100, 0.2);
	}
}