header {
	height: 75px;
	font-size: 1.75em;
	line-height: 75px;
	margin-bottom: 20px;
	display: none;
	
	.logo {
		background-color: #e58c72;
		height: 100%;
		width: 160px;
		line-height: 80px;
		text-align: center;
		color:#FFFFFF;
		
		.fa {
			margin-top: 10px;
			font-size: 2em;
		}
	}
	
	.text {
		width: calc(100% - 160px);
		padding-left: 25px;
		color: #6e6e74;
		background-color: rgba(#FFFFFF, 0.9);
	}
} 
